@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .button {
    @apply p-2 text-xs md:text-sm bg-gray-500 hover:bg-black text-white rounded-md;
  }

  .heading {
    @apply text-gray-800 font-bold;
  }

  .paragraph {
    @apply text-gray-800;
  }
}

.carousel .control-dots .dot {
  background: black !important;
}